--
-- PostgreSQL database dump
--

-- Dumped from database version 14.17
-- Dumped by pg_dump version 14.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: timescaledb; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS timescaledb WITH SCHEMA public;


--
-- Name: EXTENSION timescaledb; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION timescaledb IS 'Enables scalable inserts and complex queries for time-series data (Community Edition)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: machine_sensors; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.machine_sensors (
    id integer NOT NULL,
    machine_type text NOT NULL,
    location text,
    sensor_type text NOT NULL,
    sensor_value double precision NOT NULL,
    ts timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.machine_sensors OWNER TO admin;

--
-- Name: machine_sensors_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.machine_sensors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.machine_sensors_id_seq OWNER TO admin;

--
-- Name: machine_sensors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.machine_sensors_id_seq OWNED BY public.machine_sensors.id;


--
-- Name: sensor_aggregates; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sensor_aggregates (
    id integer NOT NULL,
    machine_id integer NOT NULL,
    sensor_type text NOT NULL,
    avg_value double precision NOT NULL,
    ts timestamp with time zone NOT NULL
);


ALTER TABLE public.sensor_aggregates OWNER TO admin;

--
-- Name: sensor_aggregates_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.sensor_aggregates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sensor_aggregates_id_seq OWNER TO admin;

--
-- Name: sensor_aggregates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.sensor_aggregates_id_seq OWNED BY public.sensor_aggregates.id;


--
-- Name: sensor_aggregates_machine_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.sensor_aggregates_machine_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sensor_aggregates_machine_id_seq OWNER TO admin;

--
-- Name: sensor_aggregates_machine_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.sensor_aggregates_machine_id_seq OWNED BY public.sensor_aggregates.machine_id;


--
-- Name: machine_sensors id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.machine_sensors ALTER COLUMN id SET DEFAULT nextval('public.machine_sensors_id_seq'::regclass);


--
-- Name: sensor_aggregates id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensor_aggregates ALTER COLUMN id SET DEFAULT nextval('public.sensor_aggregates_id_seq'::regclass);


--
-- Name: sensor_aggregates machine_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensor_aggregates ALTER COLUMN machine_id SET DEFAULT nextval('public.sensor_aggregates_machine_id_seq'::regclass);


--
-- Name: machine_sensors machine_sensors_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.machine_sensors
    ADD CONSTRAINT machine_sensors_pkey PRIMARY KEY (id, ts);


--
-- Name: sensor_aggregates sensor_aggregates_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sensor_aggregates
    ADD CONSTRAINT sensor_aggregates_pkey PRIMARY KEY (id, ts);


--
-- Name: machine_sensors_ts_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX machine_sensors_ts_idx ON public.machine_sensors USING btree (ts DESC);


--
-- Name: sensor_aggregates_ts_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX sensor_aggregates_ts_idx ON public.sensor_aggregates USING btree (ts DESC);


--
-- Name: machine_sensors ts_insert_blocker; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER ts_insert_blocker BEFORE INSERT ON public.machine_sensors FOR EACH ROW EXECUTE FUNCTION _timescaledb_functions.insert_blocker();


--
-- Name: sensor_aggregates ts_insert_blocker; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER ts_insert_blocker BEFORE INSERT ON public.sensor_aggregates FOR EACH ROW EXECUTE FUNCTION _timescaledb_functions.insert_blocker();


--
-- PostgreSQL database dump complete
--

